body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#gameboard {
  width: 300px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 2px black;
  box-sizing: border-box;
  /* To center the circle in the square we need flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid green;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
}
/* /https://www.youtube.com/watch?v=DRaWr0Dcbl0  15:10 */
.cross:before,
.cross:after {
  content: '';
  position: absolute;
  background-color: pink;
}
/* would be nice to break down the css and understand [ ] */
.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15;
  height: 100%;
}
